.header-banner {
    background-color: rgb(81, 97, 119);
    background-blend-mode: multiply;
    background-image: url("../../../assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
