.banner-text-underline{
    text-decoration-color: white;
    text-underline-offset: 0.8rem;
  }
  @keyframes movingAnim {
    0% {
      /* transform: scale(1); */
      transform: translate(-10%, 0%);
      border-color: white;
    }
    25% {
      /* transform: scale(1.2); */
      transform: translate(0%, 10%);
      border-color: #ed1414;
    }
    50% {
      /* transform: scale(1); */
      transform: translate(10%, 0%);
      border-color: #009FBD;
    }
    75% {
      /* transform: scale(1); */
      transform: translate(0%, -10%);
      border-color: gold;
    }
    100% {
      /* transform: scale(1); */
      transform: translate(-10%, 0%);
      border-color: white;
    }
  }
  
  .banner-img {
    position: relative;
  }
  
  /* .banner-img {
    animation: movingAnim 3s infinite;
  } */
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  