/*------ font for website ------*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700;800&family=Grand+Hotel&family=Inter&family=Lato:ital,wght@0,400;0,700;1,700&family=League+Spartan:wght@300;400;500;600;700;800&family=Manrope:wght@400;600;700;800&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;700;800&display=swap');

/*------ tailwind css  ------*/
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  /*------ font-family: 'League Spartan', sans-serif; ------*/
}
.my-container{
  @apply container mx-auto;
}
/* .my-container-sm{
  @apply container mx-auto px-4;
} */

.font-gradient{
  background: linear-gradient(to right top, #d207d9, #ac05ca, #ebbdfe, #be9fd7, #c1aaed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* d207d9
c1aaed */

